@import "../variables/breakpoints.scss";
@import "../variables/colors.scss";

@mixin form(){
    width: 100%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);

    @media screen and (min-width:$tablet-min) {
        min-width: 320px;
        width: auto;
        margin: 0 auto;
        padding: 2em;
        max-width: 90%;
        border: 2px solid black;
        border-radius: 12px;
    }
}