@import '../../../globals/variables.scss';
@import './sidebar-actions.scss';

.sidebar {
    color:$color-white;

    .sidebar-playerlist {
        font-size: 1em;
        font-weight: 500;
        word-wrap: break-word;

        &-player{
            text-align: end;
            line-height: 1.5em;
            border-bottom: 2px solid $color-white;
        }
    }

    .sidebar-body {
        @import './sidebar-actions.scss';
    }
    

}

