@import '../../../globals/variables.scss';

.admin-wrapper {
    background-color: $color-space;
    @include flex(column, flex-start);
    @import './admin-sidebar.scss';
    .admin-cardlist-container {
        flex:1;
        @include flex(column, flex-start);
        min-height: 100vh;
        color: $color-white;
        @import './card-form.scss';
        .cardlist {
            width: 100%;
            margin: auto;
            @include flex(row, flex-start);
            flex-wrap: wrap;
            padding: 1em;
            gap: 1em;
            list-style-type: none;
            color: $color-white;
            @import './card-item.scss';
        }
    }

    .btns-group {
        width: 100%;
        @include flex(row, space-between);
        gap:12px;
    }

    @media screen and (min-width:$tablet-min) {
        @include flex(row, space-between);
        .admin-cardlist-container {
            .cardlist {
                padding: 5em;
            }
        }
    }
    
}

