
$successColor: #C8DBBE;
$color-gray: #E6E6E6;
$color-white: #ffffff;
$color-red: #DD5353;
$color-mint:#8AD5CD;
$color-velvet:#3C2A60;
$color-burgundy: #602A33;

$color-dark-green: #2A6057;
$color-space: #0F2027;
$color-space-lighter: #0F3460;