


$colorPrimary700: #20153a;
$colorPrimary500: #432C7A;
$colorPrimary300: #80489C;
$colorPrimary200:#895e9e;

$colorSecondary50: #FCE2DB;
$colorSecondary200: #f9beae;

$errorColor: #DD5353;
$successColor: #C8DBBE;

$color-gray: #E6E6E6;