@import '../../globals/variables.scss';

.navigate-to-home {
    width: 180px;
    display: flex;
    justify-content: row;
    align-items: center;
    position: relative;
    cursor: pointer;
    .home-label {
        width: 140px;
        @include prevent-select;
    }
    left:-140px;
    transition: all .9s ease-in;
    &:hover {
        left:0;
        transition: all .9s ease-out;
        .home-label {
            opacity: 1;
        }
    }
}