@import './globals/typography.scss';
@import './globals/global-styles.scss';
@import './globals/variables.scss';

html, body, #root, .main {
  min-height: 100vh;
  height: 100%;
}

* {
  box-sizing: border-box;
  z-index: 1;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  @include prevent-select;
}

.error {
  font-size: 36px;
  font-weight: bolder;
  color: $color-red;
}

